.button {
  display: inline-block;
  background-color: $primary-color;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.btn {
  min-width: 26px;
  height: fit-content;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  // background-color: $fill-primary;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    // background-color: $fill-primary-dim;
  }
}
